{% extends "layout.html" %}
{% load static %}
{% block body_block %}
<div class="col-md-9">
   <table id="contactsTable" class="table table-bordered table-striped">
            <thead>
                <tr>
                  <th>Pseudonyme</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                      <td>{{ user.username }}</td>
                    </tr>
                {% endfor %}
            </tbody>
   </table>
</div>
<script src="{% static "/" %}plugins/datatables/jquery.dataTables.js"></script>
<script src="{% static "/" %}plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
<script>
  $(function () {
      $("#contactsTable").DataTable(       { "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
        }});
  })
</script>
{% endblock %}