{% extends "layout.html" %}
{% block body_block %}
     <div class="col-md-9">
          <div class="card card-primary card-outline">
            <div class="card-header">
              <h3 class="card-title">Messages</h3>

              <!-- /.card-tools -->
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
              <div class="mailbox-controls">
                <!-- Check all button -->
                <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="far fa-square"></i>
                </button>
                <div class="btn-group">
                  <button type="button" class="btn btn-default btn-sm"><i class="far fa-trash-alt"></i></button>
                  <button type="button" class="btn btn-default btn-sm"><i class="fas fa-reply"></i></button>
                  <button type="button" class="btn btn-default btn-sm"><i class="fas fa-share"></i></button>
                </div>
                <!-- /.btn-group -->
                <button type="button" class="btn btn-default btn-sm"><i class="fas fa-sync-alt"></i></button>
                <div class="float-right">
                    Page {{ messages.number }}/{{ messages.paginator.num_pages }}
                  <div class="btn-group">
                    <button type="button" {% if messages.has_previous %} onclick="location.href='?page={{ messages.previous_page_number }}'" {% else %} disabled {% endif %}  class="btn btn-default btn-sm"><i class="fas fa-chevron-left"></i></button>
                    <button type="button" {% if messages.has_next %} onclick="location.href='?page={{ messages.next_page_number }}'" {% else %} disabled {% endif %} class="btn btn-default btn-sm"><i class="fas fa-chevron-right"></i></button>
                  </div>
                  <!-- /.btn-group -->
                </div>

              </div>
              <div class="table-responsive mailbox-messages">
                <table class="table table-hover table-striped">
                  <tbody>
                 {% for message in messages %}
                     <tr>
                    <td>
                      <div class="icheck-primary">
                        <input type="checkbox" value="" id="check1">
                        <label for="check1"></label>
                      </div>
                    </td>
                    <td class="mailbox-star"><a href="#">
                        {% if message.is_important %}
                            <i class="fas fa-star text-warning"></i>
                        {% else %}
                            <i class="fas fa-star" style="color: rgba(0,0,0,0.1)"></i>
                        {% endif %}
                    </a></td>
                    <td class="mailbox-name"><a href="read-mail.html">{{ message.sender.username }}</a></td>
                    <td class="mailbox-subject"><b>{{ message.subject }}</b> -
                          {% if message.content|length > 110 %}
                              {{ message.content|slice:":110" }}...
                          {% else %}
                              {{ message.content }}
                          {% endif %}
                    </td>
                    <td class="mailbox-attachment"></td>
                    <td class="mailbox-date">{{ message.created_on|timesince }}</td>
                  </tr>
                 {% endfor %}

                  </tbody>
                </table>
                <!-- /.table -->
              </div>
              <!-- /.mail-box-messages -->
            </div>
            <!-- /.card-body -->
            <div class="card-footer p-0">
              <div class="mailbox-controls">
                <!-- Check all button -->
                <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="far fa-square"></i>
                </button>
                <div class="btn-group">
                  <button type="button" class="btn btn-default btn-sm"><i class="far fa-trash-alt"></i></button>
                  <button type="button" class="btn btn-default btn-sm"><i class="fas fa-reply"></i></button>
                  <button type="button" class="btn btn-default btn-sm"><i class="fas fa-share"></i></button>
                </div>
                <!-- /.btn-group -->
                <button type="button" class="btn btn-default btn-sm"><i class="fas fa-sync-alt"></i></button>
                <div class="float-right">
                  Page {{ messages.number }}/{{ messages.paginator.num_pages }}
                  <div class="btn-group">
                    <button type="button" {% if messages.has_previous %} onclick="location.href='?page={{ messages.previous_page_number }}'" {% else %} disabled {% endif %}  class="btn btn-default btn-sm"><i class="fas fa-chevron-left"></i></button>
                    <button type="button" {% if messages.has_next %} onclick="location.href='?page={{ messages.next_page_number }}'" {% else %} disabled {% endif %} class="btn btn-default btn-sm"><i class="fas fa-chevron-right"></i></button>
                  </div>
                  <!-- /.btn-group -->

                <!-- /.float-right -->
              </div>
            </div>
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
{% endblock %}